.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
}

.night-mode label {
    color: white;
}